<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <script src="/static/taiwindcss.js"></script>
</head>
<body>
    <!-- oussama zeraoulia
    <h1 class="">{{ title }}</h1>
    <p class="text-2xl font-bold">FastAPI with Jinja2 templates is set up!</p> -->

    <div class="flex h-screen bg-gray-100">

        <!-- sidebar -->
        <div class="hidden md:flex flex-col w-64 bg-gray-800">

            <div class="flex flex-col flex-1 overflow-y-auto">
                <nav class="flex-1 px-2 py-4 bg-gray-800">
                    <a href="/" class="flex items-center px-4 py-2 text-gray-100 hover:bg-gray-700">

                        Page principale
                    </a>
                    <a href="/chatbot" class="flex items-center px-4 py-2 mt-2 text-gray-100 hover:bg-gray-700">

                        Chatbot
                    </a>
                    <a
                  href="/recherche"
                  class="flex items-center px-4 py-2 mt-2 text-gray-100 hover:bg-gray-700"
                >


                  Recherche dans un document
                </a>
    
                 
                    
                </nav>
            </div>
        </div>
    
        <!-- Main content -->
        <div class="flex flex-col flex-1 overflow-y-auto">

            <div class="p-4">
                <h1 class="text-2xl font-bold">Recherche de document </h1>
                <p class="mt-2 text-gray-600"></p>
            </div>
        </div>
        
    </div>
</body>
</html>
